@charset "UTF-8";
/* 公共樣式初始化 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

@media (max-width: 576px) {
  * {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
  display: block;
}

img {
  border: none;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

body {
  font-family: 'Microsoft JhengHei', 'MS Sans Serif';
  color: #4d4d4d;
  background: #eee;
}

.ui.grid.container {
  background: #FFF;
}

.ui.grid.container.resumeBg {
  height: 320px;
}

.ui.grid > .column:not(.row), .ui.grid > .row > .column {
  padding-left: 2rem;
  padding-right: 2rem;
}

.resumeBg .column {
  height: 200px;
  position: relative;
  background: blue;
}

.resumePhoto {
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: -100px;
}

.resumePhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 100%;
}

.ui.grid.container {
  background: #FFF;
}

.resumePhoto {
  width: 240px;
  height: 240px;
}

.resumePhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 100%;
}

.modal {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

@media (max-width: 576px) {
  .modal {
    width: 100%;
  }
}

.modal .modalPostion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 30px 20px;
}

.modal .modalContent {
  min-width: 80%;
  min-height: 160px;
  max-height: 100%;
  overflow: auto;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modalContent .contentBlock {
  font-size: 1.6rem;
  padding: 30px 20px 0;
}

.modal .modalContent .btnBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background: #fff;
}

.modal .modalContent .btnBlock.btnTwo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modalContent .btnBlock button {
  width: 45%;
  font-size: 1.6rem;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.modal .modalContent .btnBlock button.cancel {
  background: #666b80;
}

.modal .modalContent .btnBlock button.confirm {
  background: #e05f5f;
}
/*# sourceMappingURL=style.css.map */