$line-height: 1.3;

//列印頁面設定
@page {
    size: A4 portrait;
    // margin: 0.25cm;
    // size: A4 portrait;  //a4尺寸 直式
    // margin: 1cm;  //邊距1公分
    // orphans:4;   //頁面最後一段段落行數，預設值為2
    // widows:2;  //頁面第一段段落行數，預設值為2
}

// 列印模式設定
@media print {

    // 隱藏不要被列印的元素
    .NotPrint {
        display: none;
    }

    // 要被列印的元素
    .PrintUnit {
        // 元素前要被分頁
        page-break-before: always;
        // 元素本身不能被分頁
        // page-break-inside: avoid;

        &.ui.grid.container {
            padding-top: 0;
        }
    }

    html,
    body {
        font-size: 10pt;
        background: transparent;
    }

    .ui.grid.container {
        
        box-shadow:none;

        &:nth-last-of-type(2) {
            padding-bottom: 0;
        }

        &:last-of-type {
            display: none;
        }

        &.resumeBg {
            display: none;
        }
    }

    .ui.grid>.column:not(.row),
    .ui.grid>.row>.column {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .ui.grid+.grid {
        padding-top: 2rem;

        &.resumePrint {
            padding-top: 0;
        }
    }

    .ui.container.resumePrint {
        display: block;
    }

    .resumeBg {
        .column {
            height: auto;
            background: transparent;
        }
    }

    .resumePhoto {
        width: 110pt;
        height: 110pt;
        bottom: -10pt;
    }

    .resumeQR {
        display: block;

        p {
            font-size: 6pt;
        }
    }

    #btn_print {
        display: none;
    }

    .portfolio {
        .column {
            min-height: auto;

            &.lager {
                min-height: auto;

                .img {
                    height: 120pt;
                }
            }
        }

        .img {
            height: 80pt;
        }

        .content {
            line-height: $line-height;
        }
    }

    .skill {
        .skillTitle {
            h2 {
                font-size: 1.4rem;
            }
        }

        .content {
            line-height: $line-height;
        }
    }

    .workExp.list {
        .item {
            padding: 0;

            .workExpitem {
                &:before {
                    left: -0.5%;
                }
            }
        }
    }
}