$header-height: 7.6vh;
$footer-height: 7.4vh;
$mainBlock-w: 400px;
$block-padding: 1rem;
$border-radius: 3px;
$line-height: 1.6;
$color-main: #6a4c9c;
$color-minor: lighten($color-main, 15%);
$gray-main: #4d4d4d;
$gray-minor: #898989;
$gray-bg: #eee;
$gray-line: #a8a8a8;

@mixin flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin minor-block {
    padding: $block-padding;
}

//+ rwd斷點設置
$mobile: 576px;
$tablets: 768px;
$desktops: 1024px;
$desktops_lg: 1200px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablets {
    @media (max-width: $tablets) {
        @content;
    }
}

@mixin desktops {
    @media (max-width: $desktops) {
        @content;
    }
}

@mixin desktops_lg {
    @media (max-width: $desktops_lg) {
        @content;
    }
}

//- rwd斷點設置

/* 公共樣式初始化 */
html,
body {
    font-family: 'Microsoft JhengHei', 'MS Sans Serif';
    font-size: 18px;

    @include mobile {
        font-size: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

a {
    text-decoration: none;
    /* 取消文字修飾 */
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
    display: block;
}

img {
    border: none;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

//- 公共樣式初始化

body {
    color: $gray-main;
    background: $gray-bg;
}

header {
    height: $header-height;
    background: $color-main;
}

footer {
    height: $footer-height;
    background: $color-main;
}

main {
    // background: $gray-bg;
    min-height: calc(100vh - $header-height - $footer-height);
}

.ui.grid.container {
    background: #FFF;
    margin: 0;
    padding-top: 3rem;
    
    &:first-of-type {
        padding-top:0;
    }

    .row {
        padding: 0;
    }

    &:nth-last-of-type(2) {
        padding-bottom: 30px;
    }

    &:last-of-type {
        background: $color-main;
    }

    @include mobile {
        margin: 0 !important;
    }

    &.resumeBg {
        height: 280px;

        @include mobile {
            height: 160px;
        }
    }
}

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    padding-left: 2rem;
    padding-right: 2rem;

    @include desktops {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

//+ 簡介
.ui.container.resumePrint {
    display: none;

    .resumePhoto.image {
        width: 90px;
        height: 90px;

        img {
            object-fit: cover;
            object-position: top;
            border-radius: 100%;
        }
    }
}

.resumeBg {
    color: #fff;

    .column {
        height: 200px;
        position: relative;
        background: $color-main;
        z-index: 0;

        @include mobile {
            height: 120px;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: url("/resume2022/img/pattern.png") center;
            position: absolute;
            left: 0;
            z-index: -1;
        }
    }

    .resumePhoto {
        width: 240px;
        height: 240px;
        position: absolute;
        bottom: -100px;

        @include mobile {
            width: 160px;
            height: 160px;
            bottom: -60px;
        }

        img {
            object-fit: cover;
            object-position: top;
            border-radius: 100%;
        }
    }
}

.resumeQR {
    width: 60px;
    // height: 80px;
    margin-left: auto;
    color: $gray-main;
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;

    p {
        font-size: 0.8rem;
    }
}

#btn_print {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #FFF;
    background: $color-minor;

    i {
        margin: 0;
    }

    @include desktops {
        display: none;
    }
}

//- 簡介

//+ 作品
.portfolio {
    .column {
        cursor: pointer;
        height: 310px;

        @include mobile {
            height: auto;
        }

        &:hover {
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
            background: #FFF;
            border: 1px solid $gray-bg;
            border-radius: $border-radius;

            .img {
                img {
                    transform: scale(1.1);
                    transform-origin: top;
                }
            }

        }

        &.lager {
            height: 410px;

            @include mobile {
                height: auto;
            }

            .img {
                height: 280px;

                @include mobile {
                    height: 180px;
                }
            }
        }
    }

    .img {
        width: 100%;
        height: 160px;
        background: $gray-bg;
        border: 1px solid $gray-line;
        border-radius: $border-radius;
        overflow: hidden;

        @include mobile {
            height: 180px;
        }

        img {
            object-fit: cover;
            object-position: top center;
            border-radius: $border-radius;
        }
    }

    .content {
        color: $gray-main;
        font-size: 0.75rem;
        line-height: $line-height;

        &.title {
            color: $color-main;
            font-size: 0.9rem;
            font-weight: 900;
            text-align: center;
            margin: 6px 0;
        }
    }
}

//- 作品

//+ 設計技能
.skill {
    .skillTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin-bottom: 0;
        }
    }

    .content {
        font-size: 1rem;
        line-height: $line-height;

        &.app {
            color: $gray-minor;
        }
    }
}

//- 設計技能

//+ 工作經驗
.workExp.list {
    padding-left: 3rem;

    @include mobile {
        padding-left: 0.5rem;
    }

    .item {
        padding: 0;

        .workExpitem {
            position: relative;
            padding-bottom: 20px;
            padding-left: 40px;

            @include mobile {
                padding-left: 20px;
            }

            .header {
                font-size: 1.1rem;
                line-height: $line-height;
                margin-bottom: 10px;
            }

            .content {
                font-size: 1rem;
                line-height: $line-height;
            }

            &:before {
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                content: "\f111";
                position: absolute;
                top: 0;
                left: -0.5%;
                font-size: 0.8rem;
                color: $gray-line;

                @include mobile {
                    left: -1.5%;
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -5%;
                left: 0;
                border-left: 1px solid $gray-line;
                height: 95%;

                @include mobile {
                    bottom: -1.5%;
                }
            }
        }

        &:last-of-type {
            .workExpitem {
                &:after {
                    border-width: 0;
                }
            }
        }
    }

}

//- 工作經驗

//+ Modal
.modal {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;

    @include mobile {
        width: 100%;
    }

    .modalPostion {
        @include flex-content;
        width: 100%;
        margin: 30px 20px;
    }

    .modalContent {
        min-width: 80%;
        min-height: 160px;
        max-height: 100%;
        overflow: auto;
        // padding: 30px 20px;
        background: #fff;
        border-radius: $border-radius;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contentBlock {
            font-size: 1.6rem;
            padding: 30px 20px 0;
        }

        .btnBlock {
            display: flex;
            justify-content: center;
            padding: 30px 20px;

            position: sticky;
            bottom: 0;
            background: #fff;

            &.btnTwo {
                justify-content: space-between;
            }

            button {
                width: 45%;
                font-size: 1.6rem;
                color: #fff;
                padding: 10px;
                border-radius: $border-radius;

                &.cancel {
                    background: #666b80;
                }

                &.confirm {
                    background: #e05f5f;
                }
            }
        }
    }
}

//- Modal